LabStatApp/Service References/ServiceReference1/statistics.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCurrentStats">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrentStatsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentStatsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroupedCurrentStats">
        <s:complexType />
      </s:element>
      <s:element name="GetGroupedCurrentStatsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGroupedCurrentStatsResult" type="tns:ArrayOfGroupStat" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGroupStat">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GroupStat" nillable="true" type="tns:GroupStat" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GroupStat">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="groupId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="offCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="availableCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="unavailableCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="inUseCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="hasPublishedSchedule" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="totalCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="groupDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="percentInUse" type="s:float" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCurrentStatsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentStats" />
  </wsdl:message>
  <wsdl:message name="GetCurrentStatsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentStatsResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroupedCurrentStatsSoapIn">
    <wsdl:part name="parameters" element="tns:GetGroupedCurrentStats" />
  </wsdl:message>
  <wsdl:message name="GetGroupedCurrentStatsSoapOut">
    <wsdl:part name="parameters" element="tns:GetGroupedCurrentStatsResponse" />
  </wsdl:message>
  <wsdl:portType name="StatisticsSoap">
    <wsdl:operation name="GetCurrentStats">
      <wsdl:input message="tns:GetCurrentStatsSoapIn" />
      <wsdl:output message="tns:GetCurrentStatsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupedCurrentStats">
      <wsdl:input message="tns:GetGroupedCurrentStatsSoapIn" />
      <wsdl:output message="tns:GetGroupedCurrentStatsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StatisticsSoap" type="tns:StatisticsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentStats">
      <soap:operation soapAction="http://tempuri.org/GetCurrentStats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupedCurrentStats">
      <soap:operation soapAction="http://tempuri.org/GetGroupedCurrentStats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StatisticsSoap12" type="tns:StatisticsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentStats">
      <soap12:operation soapAction="http://tempuri.org/GetCurrentStats" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupedCurrentStats">
      <soap12:operation soapAction="http://tempuri.org/GetGroupedCurrentStats" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Statistics">
    <wsdl:port name="StatisticsSoap" binding="tns:StatisticsSoap">
      <soap:address location="http://clc2serv1.ad.siu.edu/labstats/webservices/statistics.asmx" />
    </wsdl:port>
    <wsdl:port name="StatisticsSoap12" binding="tns:StatisticsSoap12">
      <soap12:address location="http://clc2serv1.ad.siu.edu/labstats/webservices/statistics.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>